In [64]:
import numpy as np
import pandas as pd
import itertools
results = []
result = []
param = []
result_list = raw_input('Results file to analyse: .txt')
exp_list = raw_input('Experiment file to analyse: .txt')
with open(result_list) as input_text:
    for line in input_text:
        items = [item for item in line.split(",",1)]
        items[0] = float(items[0].strip('WORD: %Corr='))
        #errors = items[1].split(" ",2)[2].split(",",5)
        items[1] = float(items[1].split(" ",2)[1].strip('Acc='))
        result.append(items)


with open(exp_list) as input_text2:
    for line in input_text2:
        items2 = [item for item in line.split(" ",5)]
        if items2[0].split("/",1)[0].split("_",5)[0] == 'MFC': 
            TEMP = len(items2[0].split("/",1)[0].split("_",5))-4
        else:
            TEMP = len(items2[0].split("/",1)[0].split("_",5))-3
        TEMP1 = ['Z', 'D', 'D2' ]
        items2 = [items2[0].split("/",1)[0].split("_",5)[0],
                  items2[0].split("/",1)[0].split("_",5)[-1],
                  TEMP1[TEMP],
                  items2[1],items2[0].split("/",1)[1].strip("decode-mono-hmm"),
                  float(items2[3]), float(items2[5].strip("\n"))]
        param.append(items2)


for i in range(len(result)):
        results.append(param[i] + result[i])

results = np.asarray(results)
df = pd.DataFrame(results)
df[[4,5,6,7,8]] = df[[4,5,6,7,8]].astype(float)
df_sorted = df.sort_values(by=[8], ascending=[False])

df_sorted.columns = ['BANK', 'INIT', 'ENV',
                   'TEST', 'HMM','INS','GRAM',
                  'CORR','ACC']
print(df_sorted)

Results file to analyse:result_list.txt
Experiment file to analyse:exp_list.txt
   BANK       INIT ENV       TEST   HMM  INS  GRAM   CORR    ACC
47  MFC       Init   Z  -SUBTRAIN  84.0 -2.5   5.0  61.04  51.36
39  MFC  FlatStart   Z  -SUBTRAIN  84.0 -2.5   5.0  61.19  51.32
46  MFC       Init   Z  -SUBTRAIN  44.0 -2.5   5.0  58.56  49.26
38  MFC  FlatStart   Z  -SUBTRAIN  44.0 -2.5   5.0  58.90  49.11
35  MFC  FlatStart   Z  -CORETEST  84.0 -2.5   5.0  58.32  48.90
43  MFC       Init   Z  -CORETEST  84.0 -2.5   5.0  57.91  48.82
42  MFC       Init   Z  -CORETEST  44.0 -2.5   5.0  56.02  47.29
34  MFC  FlatStart   Z  -CORETEST  44.0 -2.5   5.0  56.32  46.86
51  FBK       Init   Z  -SUBTRAIN  84.0 -5.0  10.0  58.79  46.53
49  FBK  FlatStart   Z  -SUBTRAIN  84.0 -5.0  10.0  59.13  46.18
15  MFC       Init   Z  -SUBTRAIN  84.0  0.0   0.0  63.26  45.44
11  MFC  FlatStart   Z  -SUBTRAIN  84.0  0.0   0.0  63.40  44.97
45  FBK       Init   Z  -SUBTRAIN  84.0 -2.5   5.0  59.78  43.71
50  FBK       Init   Z  -CORETEST  84.0 -5.0  10.0  56.49  43.54
14  MFC       Init   Z  -SUBTRAIN  44.0  0.0   0.0  60.81  43.49
48  FBK  FlatStart   Z  -CORETEST  84.0 -5.0  10.0  56.66  43.31
37  FBK  FlatStart   Z  -SUBTRAIN  84.0 -2.5   5.0  60.09  43.23
7   MFC       Init   Z  -CORETEST  84.0  0.0   0.0  60.77  42.83
3   MFC  FlatStart   Z  -CORETEST  84.0  0.0   0.0  60.65  42.48
10  MFC  FlatStart   Z  -SUBTRAIN  44.0  0.0   0.0  61.24  42.40
44  FBK       Init   Z  -SUBTRAIN  44.0 -2.5   5.0  56.60  41.63
6   MFC       Init   Z  -CORETEST  44.0  0.0   0.0  58.19  41.13
33  FBK  FlatStart   Z  -CORETEST  84.0 -2.5   5.0  57.87  41.00
36  FBK  FlatStart   Z  -SUBTRAIN  44.0 -2.5   5.0  57.06  40.90
2   MFC  FlatStart   Z  -CORETEST  44.0  0.0   0.0  58.99  40.67
41  FBK       Init   Z  -CORETEST  84.0 -2.5   5.0  57.22  40.60
40  FBK       Init   Z  -CORETEST  44.0 -2.5   5.0  54.87  40.23
13  FBK       Init   Z  -SUBTRAIN  84.0  0.0   0.0  60.86  39.73
32  FBK  FlatStart   Z  -CORETEST  44.0 -2.5   5.0  55.57  39.42
9   FBK  FlatStart   Z  -SUBTRAIN  84.0  0.0   0.0  61.15  39.29
12  FBK       Init   Z  -SUBTRAIN  44.0  0.0   0.0  57.68  38.52
8   FBK  FlatStart   Z  -SUBTRAIN  44.0  0.0   0.0  58.19  37.28
1   FBK  FlatStart   Z  -CORETEST  84.0  0.0   0.0  59.36  36.84
5   FBK       Init   Z  -CORETEST  84.0  0.0   0.0  58.25  36.76
4   FBK       Init   Z  -CORETEST  44.0  0.0   0.0  56.05  36.74
0   FBK  FlatStart   Z  -CORETEST  44.0  0.0   0.0  56.65  35.29
28  FBK       Init   Z  -SUBTRAIN  44.0  5.0   0.0  59.92  26.92
29  FBK       Init   Z  -SUBTRAIN  84.0  5.0   0.0  63.23  26.58
25  FBK  FlatStart   Z  -SUBTRAIN  84.0  5.0   0.0  63.72  24.96
24  FBK  FlatStart   Z  -SUBTRAIN  44.0  5.0   0.0  60.91  24.65
20  FBK       Init   Z  -CORETEST  44.0  5.0   0.0  58.43  23.99
21  FBK       Init   Z  -CORETEST  84.0  5.0   0.0  61.19  23.09
17  FBK  FlatStart   Z  -CORETEST  84.0  5.0   0.0  62.52  22.46
16  FBK  FlatStart   Z  -CORETEST  44.0  5.0   0.0  59.27  21.91
31  MFC       Init   Z  -SUBTRAIN  84.0  5.0   0.0  67.55  10.30
27  MFC  FlatStart   Z  -SUBTRAIN  84.0  5.0   0.0  67.63   9.98
30  MFC       Init   Z  -SUBTRAIN  44.0  5.0   0.0  65.13   8.87
26  MFC  FlatStart   Z  -SUBTRAIN  44.0  5.0   0.0  65.80   7.11
22  MFC       Init   Z  -CORETEST  44.0  5.0   0.0  63.91   6.72
23  MFC       Init   Z  -CORETEST  84.0  5.0   0.0  65.42   6.17
19  MFC  FlatStart   Z  -CORETEST  84.0  5.0   0.0  65.35   5.89
18  MFC  FlatStart   Z  -CORETEST  44.0  5.0   0.0  64.18   4.27

In [43]:
index = list(itertools.product(['Ada','Quinn','Violet'],['Comp','Math','Sci']))
headr = list(itertools.product(['Exams','Labs'],['I','II']))
indx = pd.MultiIndex.from_tuples(index,names=['Student','Course'])
cols = pd.MultiIndex.from_tuples(headr) #Notice these are un-named
data = [[70+x+y+(x*y)%3 for x in range(4)] for y in range(9)]
df = pd.DataFrame(data,indx,cols); 
df.dtypes

Exams  I     int64
       II    int64
Labs   I     int64
       II    int64
dtype: object

In [33]:
for i in range(len(list1)):
    print(list1[i])

[1, 3]
[3, 4]

In [41]:
df.sort_values(by=('Labs', 'II'), ascending=False)

               Exams     Labs
                   I  II    I  II
Student Course
Violet  Sci       78  81   81  81
        Math      77  79   81  80
        Comp      76  77   78  79
Quinn   Sci       75  78   78  78
        Math      74  76   78  77
        Comp      73  74   75  76
Ada     Sci       72  75   75  75
        Math      71  73   75  74
        Comp      70  71   72  73

In [8]:
lis = []
while True: 
    try: 
        x = int(raw_input('enter a digit: '))
        lis.append(x)
    except len(lis) > 3: 
        print 'eres idiota tio, intenta de nuevo'

enter a digit: 12
enter a digit: 43
enter a digit: 12
enter a digit: 12
enter a digit: 12
enter a digit: 3123
enter a digit: a

ValueError: invalid literal for int() with base 10: 'a'

In [9]:
lis

[12, 43, 12, 12, 12, 3123]

In [4]:
import sys 
help argv

SyntaxError: invalid syntax (<ipython-input-4-9d60c0b0f77a>, line 2)

In [2]:
help sys.argv

SyntaxError: invalid syntax (<ipython-input-2-ce9d86f24921>, line 1)